<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">
					<div class="row">
						<div class="12u">
						
							<!-- Header -->
								<header id="header">
								
									<!-- Logo -->
										<div id="logo">
											<h1>@Html.ActionLink("Site", "Index", "Index")</h1>
											<span>&nbsp;</span>
										</div>
									
									<!-- Nav -->
										<nav id="nav">
											<ul>
                                                
												<li  class="current_page_item"> @Html.Partial("Partial/_LoginPartial")</li>
												<li>@Html.ActionLink("Deals", "Index", "Index")</li>
												<li>@Html.ActionLink("Explore", "Index", "Index")</li>
												<li>@Html.ActionLink("Help", "Index", "Index")</li>
											</ul>
										</nav>
								
								</header>

						</div>
					</div>
				</div>
			</div>